<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modules.wnhis.mapper.HisDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.modules.wnhis.pojo.HisDetails">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="hospitalNo" property="hospitalNo" />
        <result column="method" property="method" />
        <result column="param" property="param" />
        <result column="reqParam" property="reqParam" />
        <result column="respParam" property="respParam" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
